auto-install-peers=true
strict-peer-dependencies=false
verify-store-integrity=false
ignore-pnpmfile=true
auto-install-peers=true
public-hoist-pattern[]=*
ignored-built-dependencies[]=sharp
ignored-built-dependencies[]=unrs-resolver
